.blog-box__item-title, .blog-box__title, .works-path__item-title, .works-path__title, .collection__info-title, .new-collection__title, .decor__title, .rightside-menu__title, .footer__info-title, .menu__list-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

body {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.blog-box__item-title, .blog-box__title, .works-path__item-title, .works-path__title, .collection__info-title, .new-collection__title, .decor__title, .rightside-menu__title, .footer__info-title, .menu__list-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #5A5A5A;
  min-width: 320px;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

.main {
  flex: 1 1 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 15px;
}

.slick-dots {
  display: flex;
  justify-content: center;
}
.slick-dots li {
  margin: 0 15px;
}
.slick-dots button {
  background-color: #363838;
  border: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  padding: 0;
  font-size: 0;
  transition: all 0.5s ease;
}
.slick-dots li.slick-active button {
  background-color: #FFEF35;
}

@font-face {
  font-family: CormorantUpright;
  font-display: swap;
  src: url("../fonts/CormorantUpright-Bold.woff2") format("woff2"), url("../fonts/CormorantUpright-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: UbuntuBold;
  font-display: swap;
  src: url("../fonts/UbuntuBold.woff2") format("woff2"), url("../fonts/UbuntuBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: CormorantUpright;
  font-display: swap;
  src: url("../fonts/CormorantUpright-Regular.woff2") format("woff2"), url("../fonts/CormorantUpright-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: TTTrailers;
  font-display: swap;
  src: url("../fonts/TTTrailers-Regular.woff2") format("woff2"), url("../fonts/TTTrailers-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: CormorantUpright;
  font-display: swap;
  src: url("../fonts/CormorantUpright-SemiBold.woff2") format("woff2"), url("../fonts/CormorantUpright-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}
.header__btn {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.logo {
  margin: 0 auto;
}

.menu {
  padding-right: 15px;
}
.menu__list {
  display: flex;
}
.menu__list-item {
  padding-left: 35px;
  padding-right: 45px;
}
.menu__list-link {
  line-height: 22px;
  color: rgba(54, 56, 56, 0.9033);
  transition: all 0.5s ease;
}
.menu__list-link:hover {
  color: black;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}
.footer__content {
  background-color: #DFDFDF;
  padding: 60px 0px 80px;
}
.footer__info {
  width: 540px;
}
.footer__info-title {
  color: #363838;
  margin-bottom: 14px;
  line-height: 23px;
}
.footer__info-text {
  margin-bottom: 16px;
  max-width: 475px;
}
.footer__info-email {
  font-weight: 600;
  color: #363838;
  font-size: 14px;
  margin-bottom: 22px;
  padding-left: 30px;
  display: inline-block;
  position: relative;
}
.footer__info-email::before {
  content: "";
  background-image: url(../img/icons/envelope.svg);
  position: absolute;
  left: 0;
  top: 9px;
  width: 16px;
  height: 12px;
}
.footer__form {
  display: flex;
}
.footer__form-input {
  padding: 6px 10px 6px 18px;
  border-radius: 21px;
  background-color: transparent;
  border: 1px solid rgba(54, 56, 56, 0.7);
  width: 100%;
}
.footer__form-input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #a1a1a1;
}
.footer__form-button {
  background-color: #363838;
  border: none;
  color: #fffff0;
  border-radius: 21px;
  font-weight: 600;
  padding: 6px 12px;
  min-width: 160px;
  margin-left: 9px;
  cursor: pointer;
}
.footer__social {
  width: 125px;
  margin-right: auto;
  margin-left: 100px;
}
.footer__social-link {
  padding-left: 28px;
  position: relative;
}
.footer__social-link::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 16px;
  height: 16px;
}
.footer__social-link--facebook::before {
  background-image: url(../img/icons/facebook.svg);
}
.footer__social-link--instagram::before {
  background-image: url(../img/icons/instagram.svg);
  width: 14px;
  height: 14px;
  top: 4px;
}
.footer__social-link--pinterest::before {
  background-image: url(../img/icons/pinterest.svg);
}
.footer__social-link--whatsapp::before {
  background-image: url(../img/icons/whatsapp.svg);
  width: 14px;
  height: 14px;
  top: 4px;
}
.footer__social-link--youtube::before {
  background-image: url(../img/icons/youtube.svg);
  width: 18px;
  height: 12px;
  top: 4px;
}
.footer__social-item, .footer__menu-item {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 600;
}
.footer__social-link, .footer__menu-link {
  color: #707070;
}
.footer__menu {
  margin-right: 60px;
  width: 125px;
}
.footer__copyright {
  background-color: #363838;
  color: #A1A1A1;
  text-align: center;
  padding: 42px 0px 41px;
}

.rightside-menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 694px;
  width: 100%;
  background-color: #fff;
  padding-top: 40px;
  box-shadow: -2px 3px 17px 0px #000;
  transition: all 0.6s ease;
  z-index: 100;
}
.rightside-menu.rightside-menu--close {
  transform: translateX(500%);
}
.rightside-menu__close {
  border-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 50px;
  margin-bottom: 60px;
}
.rightside-menu__content {
  text-align: center;
  max-width: 485px;
  margin: 0 auto;
}
.rightside-menu__logo {
  display: inline-block;
  margin-bottom: 40px;
}
.rightside-menu__title {
  color: #363838;
  font-size: 36px;
  line-height: 51px;
  position: relative;
  margin-bottom: 17px;
  padding-bottom: 17px;
}
.rightside-menu__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  max-width: 252px;
  margin: 0 auto;
  left: 0;
  right: 0;
  height: 1px;
  background: #6D7278;
}
.rightside-menu__text {
  margin-bottom: 75px;
}
.rightside-menu__images {
  max-width: 485px;
}

.decor {
  padding: 170px 0 155px;
  background-image: url(../img/decor-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.decor__title {
  max-width: 737px;
  color: #363838;
  font-size: 60px;
  line-height: 80px;
  padding-bottom: 22px;
  margin-bottom: 22px;
  position: relative;
}
.decor__title::after {
  content: "";
  position: absolute;
  left: 0;
  width: 200px;
  height: 1px;
  bottom: 0;
  background-color: #6D7278;
}
.decor__text {
  max-width: 540px;
}

.top__inner {
  padding-bottom: 70px;
  position: relative;
}
.top__inner::after {
  content: "";
  background-image: url(../img/slider/slider-bg.jpg);
  position: absolute;
  width: 100%;
  height: 722px;
  top: 0;
  z-index: -1;
}
.top__slider-item--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top__slider-info {
  max-width: 465px;
  margin-left: 25px;
}
.top__slider-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #363838;
  font-weight: 700;
  font-size: 110px;
  line-height: 134px;
  position: relative;
  padding-bottom: 26px;
  margin-bottom: 26px;
}
.top__slider-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 185px;
  height: 1px;
  background: #6D7278;
}
.top__slider-text {
  max-width: 585px;
}
.top__slider-img {
  margin-left: -14%;
  max-width: 703px;
  height: 815px;
  object-fit: cover;
}

.new-collection {
  text-align: center;
  padding: 45px 0 105px;
}
.new-collection__title {
  color: #363838;
  font-size: 35px;
  line-height: 51px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}
.new-collection__title::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #6D7278;
}
.new-collection__text {
  max-width: 730px;
  margin: 0 auto 30px;
}

.collection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}
.collection__item {
  position: relative;
}
.collection__item:hover .collection__info {
  opacity: 1;
}
.collection__images {
  min-height: 350px;
  object-fit: cover;
}
.collection__info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s ease;
}
.collection__info-title {
  font-size: 20px;
  line-height: 25px;
  color: #363838;
  padding-bottom: 19px;
  margin-bottom: 19px;
  position: relative;
}
.collection__info-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 200px;
  margin: 0 auto;
  left: 0;
  right: 0;
  background: #6D7278;
}
.collection__info-text {
  font-weight: 600;
  font-size: 14px;
  color: #707070;
}

.works-path {
  padding: 80px 0 30px;
}
.works-path__title {
  text-align: center;
  color: #363838;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 51px;
}
.works-path__items-box {
  display: flex;
  align-items: flex-end;
  border-bottom: 2px solid rgba(54, 56, 56, 0.7);
  position: relative;
}
.works-path__items-box::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #363838;
}
.works-path__item {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  height: 100%;
}
.works-path__item--production {
  margin-left: 317px;
}
.works-path__item--production::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 2px;
  background: rgba(54, 56, 56, 0.7);
}
.works-path__item--consultation, .works-path__item--production {
  padding-bottom: 38px;
}
.works-path__item--measurements {
  padding-top: 38px;
  margin-left: 305px;
}
.works-path__item--measurements::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 2px;
  background: rgba(54, 56, 56, 0.7);
}
.works-path__item-title {
  margin-left: 13px;
  color: #363838;
}
.works-path__item-text {
  margin-top: 13px;
}

.gallery {
  padding: 80px 0 90px;
}
.gallery__buttons {
  text-align: center;
  margin-bottom: 40px;
}
.gallery__btn {
  margin: 0 13px;
  background-color: transparent;
  border: 1px solid #454647;
  border-radius: 20px;
  padding: 6px 16px;
  color: #8F8D8D;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.gallery .mixitup-control-active {
  background: #FFEF35;
  color: #363838;
  border: 1px solid #454647;
}
.gallery__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px 35px;
}
.gallery__item:first-child {
  grid-column: span 2;
  grid-row: span 2;
}
.gallery__item img {
  object-fit: cover;
  width: 100%;
  max-height: 1150px;
  height: 100%;
}

.blog-box {
  padding-bottom: 100px;
}
.blog-box__title {
  color: #363838;
  font-size: 36px;
  line-height: 51px;
  margin: 0 auto 30px;
  text-align: center;
  max-width: 430px;
}
.blog-box__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.blog-box__img-link {
  margin-bottom: 19px;
  display: inline-block;
}
.blog-box__links {
  margin-bottom: 9px;
  font-size: 14px;
  font-weight: 600;
  color: #707070;
}
.blog-box__date, .blog-box__author, .blog-box__theme {
  color: inherit;
  transition: all 0.5s ease;
}
.blog-box__date:hover, .blog-box__author:hover, .blog-box__theme:hover {
  color: black;
}
.blog-box__item-title {
  color: #363838;
  font-size: 24px;
  line-height: 38px;
}